:root {
  --lavWeb: rgba(232, 225, 239, 1);
  --lightCyan: rgba(217, 255, 248, 1);
  --aeroBlue: rgba(199, 255, 218, 1);
  --aeroBlue2: rgba(173, 255, 237, 1);
  --teaGreen: rgba(196, 244, 199, 1);
  --laurelGreen: rgba(155, 178, 145, 1);
  --teaGreenHov: rgb(128, 153, 130);
  }

.App {
  text-align: center;
  overflow-x: hidden;
  background: linear-gradient(91deg, var(--lavWeb), rgb(221, 221, 221), var(--lightCyan) 90%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#topBtn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgba(94, 94, 94, 0.4);
  border-color: rgba(94, 94, 94, 0.3);
  padding: 0.5em;
  border-radius: 7px 15px;
  font-size: 1em;
  font-weight: 700;
}

.searchBtn {
  color: rgb(0, 0, 0);
  background-color: var(--lightCyan);
  border-color: rgba(94, 94, 94, 0.3);
  padding: 0.25em;
  margin: 0.75em 1.25em;
  border-radius: 4px 8px;
  font-size: 1em;
  font-weight: 700;
}

.readMoreBtn {
  background-color: var(--teaGreen);
  border-color: var(--laurelGreen);
  border-radius: 3px 5px;
  font-weight: 500;
}

.readMoreBtn:hover {
  background-color: var(--teaGreenHov);
  border-radius: 5px 3px;
}

.searchBtn:hover {
  background-color: var(--aeroBlue2);
  border-radius: 8px 4px;
}

#topBtn:hover {
  background-color: rgb(94, 94, 94);
  border-radius: 15px 7px;
}

.boxShadow {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.footer {
  border-radius: 5px 5px 0 0;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0.5em 0;
  margin-top: 2em;

  font-size: 0.8em;
}

.header {
  font-weight: 600;
  border-radius: 0 0 3px 3px;
}

.textShadow {
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.4);
}

.titleContainer{
  padding: 1em;
}

.titleText {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.3em;
}

.articleContainer {
  padding: 0.5em 1em 1em;
}

input {
  border-radius: 3px;
  filter: opacity(60%);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

button {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}